Repository layars/layars-design-system, pull requests merged in 2023-11, with the labels that each got.

#9 feat: add remaining primitive color tokens
  packages/layars-tokens/input/variables.json
  packages/layars-tokens/lib/dark/css-vars.css
  packages/layars-tokens/lib/dark/css-vars.d.ts
  packages/layars-tokens/lib/dark/css-vars.json
  packages/layars-tokens/lib/dark/properties.json
  packages/layars-tokens/lib/dark/theme.d.ts
  packages/layars-tokens/lib/dark/theme.js
  packages/layars-tokens/lib/dark/theme.json
  packages/layars-tokens/lib/light/css-vars.css
  packages/layars-tokens/lib/light/css-vars.d.ts
  packages/layars-tokens/lib/light/css-vars.json
  packages/layars-tokens/lib/light/properties.json
  packages/layars-tokens/lib/light/theme.d.ts
  packages/layars-tokens/lib/light/theme.js
  packages/layars-tokens/lib/light/theme.json
  packages/layars-tokens/src/dark/css-vars.css
  packages/layars-tokens/src/dark/css-vars.d.ts
  packages/layars-tokens/src/dark/css-vars.json
  packages/layars-tokens/src/dark/properties.json
  packages/layars-tokens/src/dark/theme.d.ts
  packages/layars-tokens/src/dark/theme.js
  packages/layars-tokens/src/dark/theme.json
  packages/layars-tokens/src/light/css-vars.css
  packages/layars-tokens/src/light/css-vars.d.ts
  packages/layars-tokens/src/light/css-vars.json
  packages/layars-tokens/src/light/properties.json
  packages/layars-tokens/src/light/theme.d.ts
  packages/layars-tokens/src/light/theme.js
  packages/layars-tokens/src/light/theme.json
  packages/layars-tokens/tokens/primitives/colors.json
  pnpm-lock.yaml
Labels: Type: Enhancement, Priority: Medium, Component: Tokens

#10 feat: create layars button and styles
  packages/layars-ui/web-components/layars-button/src/defs.ts
  packages/layars-ui/web-components/layars-button/src/layars-button.spec.ts
  packages/layars-ui/web-components/layars-button/src/layars-button.stories.ts
  packages/layars-ui/web-components/layars-button/src/layars-button.ts
  packages/layars-ui/web-components/layars-button/src/styles/ghost.ts
  packages/layars-ui/web-components/layars-button/src/styles/index.ts
  packages/layars-ui/web-components/layars-button/src/styles/outline.ts
  packages/layars-ui/web-components/layars-button/src/styles/shared.ts
  packages/layars-ui/web-components/layars-button/src/styles/sizes.ts
  packages/layars-ui/web-components/layars-button/src/styles/solid.ts
Labels: Status: In Progress, Type: Feature, Priority: Medium, Component: Elements

#11 Feat: Storybook Enhancements
  .storybook/docs/Introduction.mdx
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/layars-tokens/config.dark.json
  packages/layars-tokens/config.light.json
  packages/layars-tokens/generator-artifacts/formats/css-vars/css-vars.css.template
  packages/layars-tokens/generator-artifacts/formats/css-vars/register.ts
  packages/layars-tokens/lib/dark/css-vars.css
  packages/layars-tokens/lib/index.d.ts
  packages/layars-tokens/lib/light/css-vars.css
  packages/layars-tokens/lib/light/theme.d.ts
  packages/layars-tokens/src/dark/css-vars.css
  packages/layars-tokens/src/index.d.ts
  packages/layars-tokens/src/light/css-vars.css
  packages/layars-tokens/src/light/theme.d.ts
  packages/layars-ui/web-components/layars-button/src/layars-button.stories.ts
  packages/layars-ui/web-components/layars-theme-provider/.storybook/src/get-theme-token.ts
  packages/layars-ui/web-components/layars-theme-provider/src/layars-theme-provider.stories.ts
  pnpm-lock.yaml
Labels: Status: In Progress, Type: Enhancement, Priority: Medium, Components: Core

#13 feat: button-group component
  packages/layars-ui/web-components/layars-button-group/.config/playwright.config.ts
  packages/layars-ui/web-components/layars-button-group/.config/test.setup.ts
  packages/layars-ui/web-components/layars-button-group/.config/test.utils.ts
  packages/layars-ui/web-components/layars-button-group/.config/vite.config.ts
  packages/layars-ui/web-components/layars-button-group/.config/vitest.config.ts
  packages/layars-ui/web-components/layars-button-group/.storybook/main.ts
  packages/layars-ui/web-components/layars-button-group/.storybook/manager.ts
  packages/layars-ui/web-components/layars-button-group/.storybook/preview.ts
  packages/layars-ui/web-components/layars-button-group/package.json
  packages/layars-ui/web-components/layars-button-group/src/defs.ts
  packages/layars-ui/web-components/layars-button-group/src/index.ts
  packages/layars-ui/web-components/layars-button-group/src/layars-button-group.stories.ts
  packages/layars-ui/web-components/layars-button-group/src/layars-button-group.test.ts
  packages/layars-ui/web-components/layars-button-group/src/layars-button-group.ts
  packages/layars-ui/web-components/layars-button-group/src/styles/index.ts
  packages/layars-ui/web-components/layars-button-group/src/styles/orientation.ts
  packages/layars-ui/web-components/layars-button-group/src/styles/spacing.ts
  packages/layars-ui/web-components/layars-button-group/tsconfig.json
  pnpm-lock.yaml
  utils/workspaces.json
Labels: Status: Complete, Type: Feature, Component: Elements
